@model IEnumerable<Practice2Course.Data.Models.RoadSystem>
@using Practice2Course.Data;
<!DOCTYPE html>

<h1>Результат поиска</h1>

<div class="row mt-5 row-cols-sm-2 row-cols-md-3 g-3">
    @{
        foreach (var street in Model)
        {

            <div class="col">
                <div class="card shadow-sm">
                    <img class="img-thumbnail" src="@street.ImgUrl" />

                    <div class="card-body">
                        <h4>@HelpElements.Abbs[street.TypeId] @street.StreetName</h4>
                        <p class="card-text">@street.Description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" asp-controller="Main" asp-action="SelectedObjectsbyStreet" asp-route-id="@street.StreetId" class="btn btn-sm btn-outline-primary">Объекты</a>
                                <a type="button" href="@street.MapUrl" target="_blank" class="btn btn-sm btn-outline-primary">На карте</a>
                                <a type="button" asp-controller="Change" asp-action="ChangeRoad" asp-route-id="@street.StreetId" class="btn btn-sm btn-outline-secondary">Изменить</a>
                                <a type="button" asp-controller="Delete" asp-action="DeleteRoad" asp-route-id="@street.StreetId" class="btn btn-sm btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
</div>